@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");

html {
  scroll-behavior: smooth;
  font-size: 100%;

}

html,
body {
  height: 100%;
  color: var(--font-color);
}

:root {
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 24px;
  --border-radius: 12px;
  --font-color: #323232;
  --accent-main: #F2DDD5;
  --accent-secondary: #535473;
}

.logo {
  margin: 0;
  font-family: 'Playfair Display';
  font-size: 3rem;
  font-weight: 700;
  color: var(--accent-secondary);
  transition: opacity 0.25s, height 0.25s ease-out;

}

#hero-container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}

.hero-image {
  width: 100%;
  height: auto;
  max-height: 750px;
  padding: 0;
  grid-column: 1 / span 2;
  overflow: hidden;
}

.hero-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.hero-text {
  position: absolute;
  /* Adjust margin, top, and left to use more responsive units */
  margin: 2vw; /* Example adjustment */
  top: 20%;
  left: 5%; /* Adjust based on your design */
  color: white;
  padding: 0;
  grid-column: 1 / span 1;
  max-width: 90%; /* Ensure text does not overflow the hero image */
}

.hero-text p {
  padding: 0;
  /* Example of responsive font size adjustment */
  font-size: calc(14px + 1vw); /* Adjust base size and scale factor as needed */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {



  .logo {
    color: #FFFFFF;
  }

  #hero-container {
    grid-template-columns: 1fr; /* Adjust grid for smaller screens */
  }
  
  .hero-text {
    left: 10%; /* Adjust positioning for smaller screens */
    top: 15%; /* Adjust positioning to ensure visibility */
    max-width: 80%; /* Allow more space for text */
  }
}


h1 {
  font-family: 'Playfair Display';
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-family: 'Playfair Display';
  font-size: 2.5rem;
  font-weight: 600;
  padding-left: var(--spacing-3);
}

h3, h4, h5, h6 {
  font-family: 'Playfair Display';
  font-weight: 600;
  font-size: 2rem;
  margin: 0;
  margin-bottom: var(--spacing-2);
  padding: 0 var( --spacing-3);
}

p {
  padding: 0 var( --spacing-3);
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  padding: var(--spacing-3) var(--spacing-3);
}

.scrolled .logo {
  opacity: 0;
}

.navigation-items {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;
  margin-left: auto;
  justify-content: space-between;
}

.navigation-item {
  margin: var(--spacing-1);
}

.contact-us {
  padding: 10px 20px;
  border-radius: 30px;
  background: var(--accent-main);
  color: var(--accent-secondary);
}

.burger-menu {
  display: none;
  cursor: pointer;
  margin-left: auto;
  align-items: center;
  padding-right: var(--spacing-3);
}

.burger-line {
  width: 30px;
  height: 3px;
  background-color: var(--font-color);
  margin: 5px;
  transition: all 0.3s ease;
}

.nav-open .burger-line:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.nav-open .burger-line:nth-child(2) {
  opacity: 0;
}

.nav-open .burger-line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}



@media only screen and (max-width: 768px) {

  html {
    font-size: 90%; /* Reducing the base size on smaller screens */
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it's above other content */
  }

  .burger-menu {
    display: block; /* Show on smaller screens */
  }

  .navigation-items {
    display: none; /* Hide initially on smaller screens */
    position: absolute;
    top: 70px; /* Adjust as needed */
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .navigation-item {
    margin: 10px 0;
  }

  .navigation-items.nav-open {
    display: flex; 
    flex-direction: column; 
    position: absolute;
    top: 70px;
    left: 0; 
    background-color: #fff; 
    width: 100%;
    padding: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
}



#about-container {
  padding: 48px 0;
  width: 90%;
  margin: 0 auto; /* Center the container */
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr); /* Default to 2 columns for larger screens */
}

.about {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.about h3, .about p {
  margin-top: 10px;
  margin-bottom: 0;
}

.about img {
  border-radius: 25px;
  max-width: 80%;
  max-height: 80%;
  overflow: hidden;
  display: block;
  margin: auto;
}

.about .button {
  justify-content: center;
  margin: var(--spacing-3) auto;
  display: flex;
  padding: 10px 20px;
  border-radius: 30px;
  width: 100px;
  background: var(--accent-main);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  #about-container {
    grid-template-columns: 1fr; /* Stack items vertically on smaller screens */
  }
  
  .about img {
    max-width: 100%; /* Allow images to scale up on smaller screens */
    max-height: 100%;
  }

  .about .button {
    width: auto; /* Adjust button width to fit content on smaller screens */
    padding: 10px 20px; /* Adjust padding if necessary for smaller screens */
  }
}

@media (max-width: 480px) {
  #about-container {
    padding: 24px 0; /* Reduce padding for very small screens */
  }
  
  .about {
    padding: 10px; /* Reduce padding within each .about section for smaller screens */
  }
}


.instagram-widget {
  margin: 50px;
}

footer {
  background-color: var(--accent-secondary);
}

.footer-container {
  position: relative;
  width: 100%;
  display: grid;
  gap: 20px;
  /* Adjust the grid layout for different screen sizes */
  grid-template-columns: repeat(4, 1fr); /* Default layout for larger screens */
}

.footer-section {
  padding: 50px;
}

.footer-section ul {
  list-style-type: none;
  margin: 0;
  padding-left: var(--spacing-3);
}

.footer-section li {
  padding-top: 10px;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.footer-section img {
  width: 30px;
  background-color: var(--accent-main);
  border-radius: 50%;
}

.copywrite {
  justify-content: center;
  text-align: center;
}

.designed-by {
  color: var(--accent-main);
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  /* For tablets and below, reduce the number of columns to 2 */
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  /* For mobile devices, stack the sections vertically */
  .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-section {
    padding: 20px; /* Reduce padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .footer-section ul {
    padding-left: var(--spacing-2); /* Adjust padding for very small screens */
  }

  .social-icons li {
    margin-right: 5px; /* Reduce margin for social icons */
  }

  .footer-section img {
    width: 25px; /* Reduce image size for very small screens */
  }
}


.icon {
  font-size: 2em;
  color: var(--font-color);
  margin: 0 var(--spacing-1);
}

a {
  color: var(--font-color);
  text-decoration: none;
  font-weight: 400;
}

#services-container {
  padding: 48px 0;
  /* Adjusted to use max-width for better control and auto margin for centering */
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  /* Start with 2 columns on smaller screens and increase as the screen widens */
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Adjust minmax() as needed for your content */
  gap: 20px;
}

.service {
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* Ensures content does not overflow its container */
  overflow: hidden;
}

.service h3,
.service p,
.service img,
.service a {
  /* Removed specific margin and padding settings that might cause overflow */
  margin-top: 10px;
  width: auto; /* Allow these elements to fill their containers */
}

.service img {
  /* Adjusted to ensure the image is responsive and does not overflow its container */
  max-width: 50px; /* Make image responsive */
  height: auto;
  margin: 10px; /* Center image */
  padding: 10px;
  background-color: var(--accent-main);
  border-radius: 50%;
}

.service a {
  /* Adjustments to ensure link/button does not overflow its container */
  margin: 20px auto; /* Center the link/button */
  justify-content: center;
  width: auto; /* Allow it to grow as needed */
  max-width: 100px; /* Maximum width to maintain appearance */
  display: flex;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: var(--accent-main);
  color: var(--accent-secondary);
  overflow: hidden; /* Prevent text overflow */
}

#destinations-container {
  padding: 48px 0;
  width: 90%;
  margin: 0 auto; /* Center the container */
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr); /* Default to 2 columns */
}

.destination {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.destination h3, .destination p {
  margin-top: 10px;
  margin-bottom: 0;
}

.destination img {
  margin-top: 0;
  margin-left: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 25px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  #destinations-container {
    grid-template-columns: 1fr; /* Stack items vertically on smaller screens */
  }

  .destination img {
    margin-left: 0; /* Adjust image margin for smaller screens */
  }
}

@media (max-width: 480px) {
  #destinations-container {
    padding: 24px 0; /* Reduce padding for very small screens */
  }

  .destination {
    padding: 10px; /* Reduce padding within each destination for smaller screens */
  }
}

#FAQ-container {
  padding: 48px 0;
  width: 90%;
  margin: 0 auto; /* Center the container */
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr); /* Default to 2 columns */
}

.FAQ img {
  margin-top: 0;
  margin-right: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 25px;
}

.accordion-container {
  margin-top: auto;
  margin-bottom: auto;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-left: 10px;
}

button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.active, .accordion:hover {
  background-color: var(--accent-main);
}

.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.panel.show {
  max-height: 500px;
}

.accordion:after {
  content: '\02795';
  font-size: 1rem;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

/* Responsive adjustments */
@media (max-width: 768px) {
  #FAQ-container {
    grid-template-columns: 1fr; /* Stack items vertically on smaller screens */
  }

  .accordion {
    margin-left: 0; /* Adjust if necessary for smaller screens */
  }
}

@media (max-width: 480px) {
  #FAQ-container {
    padding: 24px 0; /* Reduce padding for smaller screens */
  }

  .accordion {
    padding: 14px; /* Adjust padding for a tighter look on small screens */
  }
}
